.offline-ui{
    position: relative;
    left: 0px;
}

#interactive.viewport video{
    width: 100%;
}

.loadingoverlay{
    display: block !important;
}

.wait-message{
    color : #202020;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    margin-top: 445px;
}